section.cities#our-cities
  .container
    h2.cities__title We're currently in these cities
    hr.cities__line
  .container.cities__container
    .cities__city-container
      img(src="images/lisbon.jpg", alt="City of Lisbon").cities__image
      h3.cities__sub-title Lisbon
      .city-feature.cities__info-container
        i.cities__icon.ion-person.icon-small
        span.cities__text 1600+ happy eaters
      .city-feature.cities__info-container
        i.cities__icon.ion-star.icon-small
        span.cities__text 60+ high star rated chefs
      .city-feature.cities__info-container
        i.cities__icon.ion-social-twitter.icon-small
        a(href="#").cities__link @omnifood_lisbon 
    .cities__city-container
      img(src="images/san-francisco.jpg", alt="Cit.cities__imagey of San Francisco").cities__image
      h3.cities__sub-title San Francisco
      .city-feature.cities__info-container
        i.cities__icon.ion-person.icon-small
        span.cities__text 4600+ happy eaters
      .city-feature.cities__info-container
        i.cities__icon.ion-star.icon-small
        span.cities__text 90+ high star rated chefs
      .city-feature.cities__info-container
        i.cities__icon.ion-social-twitter.icon-small
        a(href="#").cities__link @omnifood_SF 
    .cities__city-container
      img(src="images/berlin.jpg", alt="City of Berlin").cities__image
      h3.cities__sub-title Berlin
      .city-feature.cities__info-container
        i.cities__icon.ion-person.icon-small
        span.cities__text 2600+ happy eaters
      .city-feature.cities__info-container
        i.cities__icon.ion-star.icon-small
        span.cities__text 70+ high star rated chefs
      .city-feature.cities__info-container
        i.cities__icon.ion-social-twitter.icon-small
        a(href="#").cities__link @omnifood_berlin 
    .cities__city-container
      img(src="images/london.jpg", alt="City of London").cities__image
      h3.cities__sub-title London
      .city-feature.cities__info-container
        i.ion-person.icon-small.cities__icon
        span.cities__text 3600+ happy eaters
      .city-feature.cities__info-container
        i.ion-star.icon-small.cities__icon
        span.cities__text 80+ high star rated chefs
      .city-feature.cities__info-container
        i.ion-social-twitter.icon-small.cities__icon
        a(href="#").cities__link @omnifood_london
