section.features#main-features
  .container
    h2.features__title GET FOOD FAST &mdash; NOT FAST FOOD
    hr.features__line
    p.features__text Hello, we're Omnifood, your new premium food delivery service. We know you're always busy. No time for cooking. So let us take care of that, we're really good at it, we promise!
  .container
    .features__container
      .features__feature-container
        i.ion-ios-calendar-outline.features__icon
        H3.features__sub-title UP TO 365 DAYS/YEAR
        p.features__sub-text Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage. You can also choose to order more flexibly if that's your style.
      .features__feature-container
        i.ion-clock.icon-big.features__icon
        H3.features__sub-title READY IN 20 MINUTES
        p.features__sub-text You're only twenty minutes away from your delicious super healthy meals delivered right to your home. We work with the best chefs in each town to ensure that you're 100% happy.
      .features__feature-container
        i.ion-ios-nutrition.features__icon
        H3.features__sub-title 100% ORGANIC
        p.features__sub-text All our vegetables are fresh, organic and local. Animals are raised without added hormones or antibiotics. Good for your health, the environment, and it also tastes better!
      .features__feature-container
        i.ion-ios-cart.features__icon
        H3.features__sub-title ORDER ANYTHING
        p.features__sub-text We don't limit your creativity, which means you can order whatever you feel like. You can also choose from our menu containing over 100 delicious meals. It's up to you! 
