footer.footer
  .container.footer__container
      nav.footer-nav
        a(href="#").footer-nav__link About us
        a(href="#").footer-nav__link Blog
        a(href="#").footer-nav__link Press
        a(href="#").footer-nav__link iOS App
        a(href="#").footer-nav__link Android App
      nav.social-links.social-nav
        a(href="#").social-nav__link: i.ion-social-facebook
        a(href="#").social-nav__link: i.ion-social-twitter
        a(href="#").social-nav__link: i.ion-social-googleplus
        a(href="#").social-nav__link: i.ion-social-instagram 
  .container.flex-container.flex-container--column
    p.footer__title Copyright &copy; 2017 by Omnifood. All rights reserved.
    p.footer__sub-title Coded by 
      a(href="#" target="_blank") Stefan Dragas