header.main-header#main-header
  .container
    nav.main-nav
      .main-nav__container
        img(src="images/omnifood-logo2.png", alt="Omnifood Logo").main-nav__logo.main-nav__logo--transparent
        img(src="images/omnifood-logo.png", alt="Omnifood Logo").main-nav__logo.main-nav__logo--full
        i.ion-close-round.main-nav__icon.main-nav__icon--hidden
        i.ion-navicon-round.main-nav__icon
        .main-nav__link-container
          a(href="#main-features").main-nav__link Features
          a(href="#how-it-works").main-nav__link How it works
          a(href="#our-cities").main-nav__link Our cities
          a(href="#sign-up").main-nav__link Sign up
  .container.main-header__container
      h1.main-header__title Goodbye junk food. 
        //- br
        //- |Hello super healthy meals.
      h3.main-header__sub-title Hello super healthy meals
      .main-header__button-container
        a(href="#sign-up").btn.btn-full.main-header__button.main-header__button--full I'm hungry
        a(href="#main-features").btn.btn-ghost.main-header__button.main-header__button--outline Show me more
