//- section.meals
//-   ul.meals-showcase
//-     li
//-       figure.meals-photo
//-         img(src="images/food-photo1.jpg", alt="Korean bibimbap with egg and vegetables")
//-     li
//-       figure.meals-photo
//-         img(src="images/food-photo2.jpg", alt="Simple italian pizza with cherry tomatoes")
//-     li
//-       figure.meals-photo
//-         img(src="images/food-photo3.jpg", alt="Chicken breast steak with vegetables")
//-     li
//-       figure.meals-photo
//-         img(src="images/food-photo4.jpg", alt="Autumn pumpkin soup")
//-   ul.meals-showcase
//-     li
//-       figure.meals-photo
//-         img(src="images/food-photo5.jpg", alt="Paleo beef steak with vegetables")
//-     li
//-       figure.meals-photo
//-         img(src="images/food-photo6.jpg", alt="Healthy baguette with egg and vegetables")
//-     li
//-       figure.meals-photo
//-         img(src="images/food-photo7.jpg", alt="Burger with cheddar and bacon")
//-     li
//-       figure.meals-photo
//-         img(src="images/food-photo8.jpg", alt="Granola with cherrish and strawberries")

section.meals
  .meals__container
    .meals__image: img(src="images/food-photo1.jpg", alt="Korean bibimbap with egg and vegetables")
    .meals__image: img(src="images/food-photo2.jpg", alt="Simple italian pizza with cherry tomatoes")
    .meals__image: img(src="images/food-photo3.jpg", alt="Chicken breast steak with vegetables")
    .meals__image: img(src="images/food-photo4.jpg", alt="Autumn pumpkin soup")
    .meals__image: img(src="images/food-photo5.jpg", alt="Paleo beef steak with vegetables")
    .meals__image: img(src="images/food-photo6.jpg", alt="Healthy baguette with egg and vegetables")
    .meals__image: img(src="images/food-photo7.jpg", alt="Burger with cheddar and bacon")
    .meals__image: img(src="images/food-photo8.jpg", alt="Granola with cherrish and strawberries")