section.plans#sign-up
  .container
    h2.plans__title Start eating healthy today.
    hr.plans__line
  .container.plans__container
    .plans__plan-container
      h3.plans__sub-title Starter
      p.plans__price $19
        span / month
      p.plans__meal &nbsp;
      .plans__features-container
        .plans__feature
          i.ion-checkmark.icon-small.plans__icon
          span 1 meal
        .plans__feature
          i.ion-checkmark.icon-small.plans__icon
          span Order 8am to 12pm
        .plans__feature
          i.ion-close-round.icon-small.plans__icon
          span: br
        .plans__feature
          i.ion-checkmark.icon-small.plans__icon
          span Free delivery
      .plans__buttons-container
        a(href="#").btn.btn-full.plans__button.plans__button--full Sign up now
    .plans__plan-container
      .plans__plan
        .plans__feature-container
          h3.plans__sub-title Pro
          p.plans__price $149
            span / month
          p.plans__meal That's only $14.90 per meal
        .plans__features-container
          .plans__feature
            i.ion-checkmark.plans__icon
            span 1 meal 10 days / month
          .plans__feature  
            i.ion-checkmark.plans__icon
            span Order 24/7
          .plans__feature
            i.ion-checkmark.plans__icon
            span Access to newest creations
          .plans__feature
            i.ion-checkmark.plans__icon
            span Free delivery
        .plans__buttons-container
          a(href="#").btn.btn-full.plans__button.plans__button--outline Sign up now
    .plans__plan-container
      .plans__plan
        h3.plans__sub-title Premium
        p.plans__price $399
          span / month
        p.plans__meal That's only $13.30 per meal
      .plans__features-container
        .plans__feature
            i.ion-checkmark.plans__icon
            span 1 meal everyday
        .plans__feature
            i.ion-checkmark.plans__icon
            span Order 24/7
        .plans__feature
            i.ion-checkmark.plans__icon
            span Access to newest creations
        .plans__feature
            i.ion-checkmark.plans__icon
            span Free delivery
      .plans__buttons-container
        a(href="#").btn.btn-full.plans__button.plans__button--outline Sign up now
