section.steps#how-it-works
  .container
    h2.steps__title HOW IT WORKS &mdash; SIMPLE AS 1, 2, 3
    hr.steps__line
  .container.steps__container
      .steps-box.steps__image-container
        img(src="images/iphone-photo.png", alt="Official Omnifood iPhone App").app-screen.steps__image
      .steps__step-container
        .steps__step
          span.steps__number 1
          p.steps__sub-title Choose the subscription plan that best fits your needs and sign up today
        .steps__step
          span.steps__number 2
          p.steps__sub-title Order your delicious meal using our mobile app or website. Or you can even call us!
        .steps__step
            span.steps__number 3
            p.steps__sub-title Enjoy your meal after less than 20 minutes. See you the next time
        .steps__button-container
          a(href="#").btn-app
            img(src="images/ios-app-store.svg" alt="iOS App Store Button").steps__button
          a(href="#").btn-app
            img(src="images/andriod-app-store.png" alt="Andriod Google Play Store").steps__button

